head {
  color: black;
  text-align: left;
}
body {
  color: black;
  font-family: 'Rasa', serif;
  text-align: left;
}
title {
  font-color: red;
  
}
h1 {
  text-align: left;
}
h2 {
  text-align: left;
} 
h3 {
  text-align: left;
}
p {
  
}